<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="Python FastCGI" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\asp\routine_app\.venv\Scripts\python.exe|D:\asp\routine_app\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="D:\asp\routine_app" />
    <add key="WSGI_HANDLER" value="wsgi.app" />
    <add key="WSGI_LOG" value="D:\asp\routine_app\wfastcgi.log" />
  </appSettings>
</configuration>

